.learn-more{
    padding: 165px calc((100vw - 1px) / 2);
}

@media screen and (min-width: 1224px){
    .learn-more {
        height: 587px;
        max-height: 587px;
        background-color: #24231F;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 165px calc((100vw - 1366px) / 2);
        color: #F2F2F2;
        font-family: "Athiti", sans-serif;
    }
}

