h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
}

p {
  font-family: "Athiti", sans-serif;
  font-weight: 500;
}

.hero-h1 {
  text-align: center;
}

.hero-image {
  display: none;
}

.index-main {
  margin-top: 8vh;
  padding: 0.5rem calc((100vw - 345px) / 2);
}

.hero-text{
  text-align: center;
}

.sub-heading{
  text-align: center;
}

@media screen and (min-width: 415px) {
  .index-main{
  padding: 0.5rem calc((100vw - 415px) / 2);
  }
}

@media (min-width: 600px) {
  .index-main{
    padding: 0.5rem calc((100vw - 560px) / 2);
  }
  .hero-text{
    text-align: center;
  }
}


/* Small Laptop View CSS */
@media only screen and (min-width: 1024px) {
  .index-main{
    padding: 0.5rem calc((100vw - 890px)/2);
  }

  .above-fold{
    display: flex;
    flex-direction: row;
  }

  .hero-image{
    display: grid;
    grid-column: 2/3;
    position: relative;
    top: 10vh;
    left: 27px;
    width: 360px;
    height: 360px;
  }

  .above-fold > .cta-area{
    grid-column: 1/1;
    margin: 0;
  }

  .hero-h1{
    font-size: 40px;
  }

  .hero-text{
    text-align: center;
    font-size: 17px;
    line-height: 1.5;
  }


  .container {
    margin-top: 10vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .container > aside {
    grid-column: 2/3;
  }


  .sub-heading{
    font-size: 16px;
  }
}
/* Medium Sized Laptop */
@media only screen and (min-width: 1224px) {
  .index-main {
    padding: 0.5rem calc((100vw - 1190px) / 2);
  }

  h1,
  h2,
  h3 {
    font-family: "Montserrat", sans-serif;
  }

  p {
    font-family: "Athiti", sans-serif;
    font-weight: 500;
  }

  .above-fold {
    display: flex;
    flex-direction: row;
  }

  .hero-area {
    margin-top: 0;
    display: grid;
  }

  .hero-text{
    text-align: unset;
  }

  .hero-text,
  .cta-area {
    grid-column: 1/1;
    margin-top: 22px;
  }

  .hero-h1 {
    font-size: 55px;
    font-family: "Montserrat", sans-serif;
    padding-top: 1rem;
    text-align: unset;
    margin-top: unset;
  }

  .hero-image {
    display: grid;
    grid-column: 2/3;
    position: relative;
    top: 17vh;
    left: -70px;
    width: 600px;
    height: 600px;
    z-index: -1;
  }

  .container {
    margin-top: 20vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .container > aside {
    grid-column: 2/3;
  }
}

/* High DPI Laptop view CSS */

@media (min-width: 1440px) {
  .index-main{
    padding: 0.5rem calc((100vw - 1370px) / 2);
  }

  .hero-image{
    width: 650px;
    height: 650px;
  }
}
