h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
}

p {
  font-family: "Athiti", sans-serif;
  font-weight: 500;
}

.hero-h1 {
  margin-top: 8vh;
  text-align: center;
}

.hero-image {
  display: none;
}

main {
  padding: 0.5rem calc((100vw - 480px) / 2);
}

@media only screen and (min-width: 960px) {
  main {
    padding: 0;
  }

  h1,
  h2,
  h3 {
    font-family: "Montserrat", sans-serif;
  }

  p {
    font-family: "Athiti", sans-serif;
    font-weight: 500;
  }

  .above-fold {
    display: flex;
    flex-direction: row;
  }

  .hero-area {
    margin-top: 16vh;
    display: grid;
    padding: 0.5rem calc((100vw - 1366px) / 2);
  }

  .hero-text,
  .cta-area {
    grid-column: 1/1;
    margin-top: 22px;
  }

  .hero-h1 {
    font-size: 55px;
    font-family: "Montserrat", sans-serif;
    padding: 1rem;
    text-align: unset;
    margin-top: unset;
  }

  .hero-text {
  }

  .hero-image {
    display: grid;
    grid-column: 2/3;
    position: relative;
    top: 16vh;
    right: 200px;
    width: 700px;
    height: 700px;
    z-index: -1;
  }

  .container {
    padding: 0.5rem calc((100vw - 1366px) / 2);
    margin-top: 20vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .container > aside {
    grid-column: 2/3;
  }
}
