.above-fold {
  display: flex;
  flex-direction: row;
  height: 60vh;
}

.hero-area {
  margin-top: 8vh;
  padding: 0.5rem calc((100vw - 1366px) / 2);
  display: grid;
  grid-template-columns: 1fr;
  max-width: calc((100vh));
}

.hero-text,
.cta-area {
  grid-column: 1/1;
  margin-top: 32px;
}

.hero-h1 {
  font-size: 55px;
  font-family: "Montserrat", sans-serif;
}

.hero-text {
  text-align: center;
  font-family: "Athiti", sans-serif;
  margin-left: -15em;
}

.hero-image {

}
